@model IEnumerable<AwesomeIT.Models.Objects.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.credits)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credits)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.courseid }) |
            @Html.ActionLink("Details", "Details", new { id=item.courseid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.courseid })
        </td>
    </tr>
}

</table>
